<p class="left-align">Edmunds.com TCO&reg;</p>
<p class="left-align"><%= Time.now.to_formatted_s(:long_ordinal) %></p>
<table class="striped">
  <thead>
    <th>Costs</th>
    <th>Year 1</th>
    <th>Year 2</th>
    <th>Year 3</th>
    <th>Year 4</th>
    <th>Year 5</th>
    <th>Total</th>
  </thead>
  <tbody>
    <% @tco.each do |cost| %>
      <% description = cost[0] %>
      <% if description == "taxcredit" %>
        <tr>
          <td colspan="6">Tax Credit</td>
          <td><%= @tco["taxcredit"] %></td>
        </tr>
      <% else %>
        <% yearly_costs = cost[1]["values"] %>
        <% total = cost[1]["total"] %>
        <tr>
          <td><%= description %></td>
          <td><%= yearly_costs[0] %></td>
          <td><%= yearly_costs[1] %></td>
          <td><%= yearly_costs[2] %></td>
          <td><%= yearly_costs[3] %></td>
          <td><%= yearly_costs[4] %></td>
          <td><%= total %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p>
  Edmunds.com’s True Cost to Own&reg; (TCO&reg;) is Edmunds.com’s estimate of the cost of buying and owning a vehicle for the first five years assuming 15,000 miles driven per year. TCO&reg; includes depreciation, interest on financing, insurance premiums, taxes and fees, fuel, maintenance, repairs, and takes into account any federal tax credit that may be available.
</p>
<p>
  TCO® data are copyrighted by Edmunds.com, Inc., which reserves all rights. Edmunds®, Edmunds.com True Cost to Own&reg; and TCO&reg; are registered trademarks of Edmunds.com, Inc. Edmunds.com, Inc. is not affiliated with this website or app.
</p>
