<%= form_tag(tesla_trims_path, :method => 'get', :id => 'tesla_trims_form', :remote => true ) do %>
  <div class="input-field col s12 l6">
    <%= hidden_field_tag "year", @params[:year] %>
    <%= hidden_field_tag "style_id", @params[:style_id] %>
    <%= hidden_field_tag "zipcode", @params[:zipcode] %>
    <%= hidden_field_tag "state_code", @params[:state_code] %>
    <%= select_tag "tesla_model", options_for_select(@teslas) %>
    <label>Model</label>
  </div>
<% end %>
