<div class="container">
  <div class="center-align">
    <img class="center-align" src="http://www.car-brand-names.com/wp-content/uploads/2015/05/Tesla-Motors-symbol.png" alt="" width="200">
  </div>
  <h4 class="center-align title"> COST OF OWNERSHIP COMPARISON </h4>
  <% if alert %>
    <p class="flash red darken-3 center-align" id="alert"><%= alert %></p>
  <% end %>
  <div>
    <div class="car-form">
      <div class="row">
        <div>
          <%= form_tag(models_path, :method => 'get', :id => 'make', :remote => true ) do %>
            <div class="input-field col s12 l4">
              <%= select_tag "make_id", options_from_collection_for_select(@makes, "edmund_id", "name") %>
              <label>Make</label>
            </div>
          <% end %>
        </div>
        <div id="make-models">
          <div class="input-field col s12 l4" id="make-models">
            <%= select_tag "model_id", "model" %>
            <label>Model</label>
          </div>
        </div>
        <div id="model-years">
          <div class="input-field col s12 l4">
            <%= select_tag "year_id", "year" %>
            <label>Year</label>
          </div>
        </div>
      </div>
      <%= form_tag(tco_path, :method => 'get', :id => 'style_form', :remote => true ) do %>
        <div class="row">
          <div id="year-styles">
            <div class="input-field col s12 l6">
              <%= select_tag "style_id", "style", :disabled => true %>
              <label>Style</label>
            </div>
          </div>
          <div class="input-field col s12 l3">
            <%= text_field_tag :zipcode, "", class: "validate" %>
            <label for="zipcode">Zipcode</label>
          </div>
          <div class="input-field col s12 l3">
            <%= text_field_tag :state_code, "", class: "validate" %>
            <label for="state_code">State (e.g. UT)</label>
          </div>
        </div>
        <div class="row center-align">
          <a id="submit_style" class="waves-effect waves-light red darken-3 btn">get tco</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="results" class="container">
</div>
