<div class="container">
  <h4  class="center-align">Tesla Info</h4>
  <table class="striped responsive-table">
    <thead>
      <th>Model</th>
      <th>Trim</th>
      <th>Price</th>
      <th>Insurance</th>
      <th>Maintenance</th>
      <th>Taxes and Fees</th>
      <th>Financing</th>
      <th>Depriciation</th>
      <th>Energy</th>
      <th>Federal Tax Credit</th>
      <th>TCO Total</th>
      <th></th>
    </thead>
    <tbody>
      <% @teslas.each do |tesla| %>
      <tr>
        <td><%= tesla.model %></td>
        <td><%= tesla.trim %></td>
        <td><%= number_to_currency(tesla.price) %></td>
        <td><%= number_to_currency(tesla.insurance) %></td>
        <td><%= number_to_currency(tesla.maintenance )%></td>
        <td><%= number_to_currency(tesla.taxes_and_fees) %></td>
        <td><%= number_to_currency(tesla.financing) %></td>
        <td><%= number_to_currency(tesla.depreciation) %></td>
        <td><%= number_to_currency(tesla.fuel) %></td>
        <td><%= number_to_currency(tesla.tax_credit) %></td>
        <td><%= number_to_currency(tesla.total) %></td>
        <td><%= link_to "Edit", edit_tesla_path(tesla) %>
            <%= link_to "Delete", tesla_path(tesla), method: "delete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to "New", new_tesla_path %>
  </div>
  <p>5 year costs by model and trim.</p>
  <p>Based on 15,000 miles driven per year.</p>
  <p>Financing is based on 10% down and 5 year loan at 4.3% interest.</p>
</div>
