<!DOCTYPE html>
<html>
<head>
  <title>Tesla TCO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width initial-scale=1, user-scalable=no"/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Error</h4>
    <p>Something went wrong</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Okay</a>
  </div>
</div>

<script>
  $('select').material_select();
  $('#make_id').change(function () {
    $('#make').submit()
  })
</script>
</body>
</html>
